@font-face{
    font-family: 'roboto';
    src: local('roboto')
}

:root{
    /* colors */
    --main-white : #fcfcfc;
    --main-blue : #4789a5;
    --main-light-blue : #87b2c2;
    --second-lb : #bed6e2;
    --third-lb: #dfe8f1;
    
    /* fonts */
    --roboto: 'roboto';
}

h1, h2, h3, h4{
    font-family: var(--roboto);
    font-weight: 300;
}

body{
    margin: 0px !important;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.main{
    width: 100%;
    height: 100%;
}

/* go back */
.go-back{
    width: 100%;
}

.go-back a i{
    font-size: 60px ;
    padding: 40px 80px;
    color: var(--main-blue);
}

.go-back a i:hover{
    color: var(--main-light-blue);
}

/* delete validation */
.hide{
    display: none !important;
}

.delete-confirmation{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000069;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation-chart{
    background-color: var(--main-blue);
    width: 60%;
    padding: 40px 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.confirmation-chart span{
    color: var(--main-white);
    font-family: var(--roboto);
    width: 100%;
    font-size: 35px;
    text-align: center;
}

.confirmation-chart form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.delete-btn,
.cancel-btn{
    display: flex;
    width: 30%;
    font-family: var(--roboto);
    font-size: 30px;
    padding: 10px 0px;
    justify-content: center;
    border-radius: 10px;
    margin-top: 30px;
    background-color: transparent;
    box-shadow: unset;
}

#delete-btn{
    width: 100%;
}

.cancel-btn{
    border: solid 3px var(--main-white);
    
}

.delete-btn{
    border: solid 3px red;
    color: red;
}

.delete-btn:hover{
    background-color: red;
    color: var(--main-white);
}


/* alert */
.alert{
    position: fixed;
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert span{
    color: var(--main-white);
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 40px;
}

.danger{
    background-color: #e90f0f86;
}

.success{
    background-color: #45e90f86;
}


/* card */
.card-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    background-color: var(--main-light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-radius: 70px;
    padding: 50px 60px;
}

.card span i{
    font-size: 160px;
}

.card h2{
    font-size: 60px;
    font-family: var(--roboto);
    margin: 10px 0px;
    color: var(--main-white);
}

.card p{
    font-size: 30px;
    font-family: var(--roboto);
    margin: 10px 0px;
    color: var(--main-white);
}

.card p i{
    font-size: 100px;
    margin: 10px 0px;
    color: var(--main-white);
}

.card .logout-btn,
.card .edit-btn{
    width: 100%;
    font-family: var(--roboto);
    font-size: 30px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
}

.card .logout-btn{
    border: solid 3px red;
    color: red;
}

.card .edit-btn{
    border: solid 3px var(--main-blue);
    color: var(--main-white);
}

.card .logout-btn:hover{
    background-color: red;
    color: var(--main-white);
}

.card .edit-btn:hover{
    background-color: var(--main-blue);
    color: var(--main-white);
}


/* index */
.index{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.index-content{
    width: 100%;
    padding: 40px 120px;
}

.user-panel{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-bottom: 70px;
}

.user-panel a{
    font-size: 60px;
    font-family: var(--roboto);
    color: var(--main-blue);
    margin-right: 30px;
}

.user-panel a:hover{
    color: var(--main-light-blue);
}



/* login */
.login-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-div{
    width: 30%;
    height: fit-content;
    background-color: var(--main-light-blue);
    padding: 30px 50px;
    border-radius: 20px;
}

.login-div a{
    color: var(--main-white);
    font-size: 18px;
    text-shadow: 2px 3px 3px #0000005b;
    font-family: var(--roboto);
    text-align: center;
}


/* create user view */
.create-user-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.create-user-div{
    width: 30%;
    height: fit-content;
    background-color: var(--main-light-blue);
    padding: 30px 50px;
    border-radius: 20px;
}

/* nav */
nav{
    background-color: var(--main-light-blue);
    min-height: 100vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    padding: 30px 90px;
    position: fixed;
}

.nav-logo{
    font-size: 90px;
    color: var(--main-white);
}

.nav-buttons{
    display: flex;
    flex-direction: column;
    /* position: fixed;
    top: 400px; */
}

.nav-buttons a{
    font-size: 30px;
    color: var(--main-white);
    font-size: 50px;
    font-family: var(--roboto);
    font-weight: 300;
    padding: 10px 0px;
    transition: .3s all ease-in-out;
    text-align: center;
}

.nav-buttons a:hover{
    color: var(--main-blue);
}

.selected{
    background-color: var(--main-blue);
    border-radius: 10px;
    padding: 20px 40px;
}


/* Table (component) */
.table{
    background-color: var(--main-light-blue);
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.table h2{
    width: 100%;
    color: var(--main-white);
    font-size: 40px ;
    font-family: var(--roboto);
}

.reload{
    width: 100%;
    color: var(--main-white);
    font-size: 40px ;
    font-family: var(--roboto);
    text-shadow: 2px 3px 6px #0000005b;
}

.reload:hover{
    color: var(--main-blue);
    text-shadow: unset;
}

.table .add-client-button{
    font-family: var(--roboto);
    font-size: 25px;
    color: var(--main-white);
    width: 100%;
    border: solid 1px var(--main-white);
    text-align: center;
    margin-bottom: 40px ;
    border-radius: 10px;
    padding: 15px 0px;
    transition: .3s all ease-in-out;
}

.table .add-client-button:hover{
    background-color: var(--main-blue);
}

.list-table{
    background-color: var(--second-lb);
    padding: 20px 20px;
    border-radius: 20px;
    border-collapse: collapse;
}


.list-table tbody tr{
    background-color: var(--third-lb);
    width: 100%;
    margin-bottom: 25px;
}

.list-table tbody td,
.list-table thead th
{
    width: 200px;
    color: black;
    font-size: 26px;
    font-family: var(--roboto);
    padding: 12px 15px;
    text-align: left;
}

.list-table tbody td a{
    color: black;
    margin-right: 40px;
}

.list-table tbody td a:hover{
    color: var(--main-blue);
}

.list-table tbody tr:nth-of-type(even) {
    background-color: var(--main-white);
}


/* Form (component) */
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}


form input,
form select{
    height: 60px ;
    padding:0px 20px;
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: unset;
    box-shadow: 4px 4px 8px #0000005b;
}

form button{
    height: 60px ;
    padding-left: 20px;
    font-size: 30px;
    background-color: var(--main-blue);
    border: none;
    border-radius: 10px;
    color: var(--main-white);
    box-shadow: 2px 4px 8px #0000005b;
    transition: .4s all ease-in-out;
    cursor: pointer;
    margin-top: 60px;
}

form button:hover{
    background-color: var(--main-white);
    color: var(--main-blue);
    box-shadow: unset;
}

.form-title{
    color: var(--main-white);
    font-size: 70px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.display-errors{
    background-color: #ed0c0c86;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.display-success{
    background-color: #0ced1486;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.display-errors span,
.display-success span{
    color: var(--main-white);
    font-family: var(--roboto);
    margin: 6px 0px;
}



/* footer */
footer{
    padding: 0px 40px;
    background-color: var(--main-blue);
    height: 100px;
}

.footer-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--main-white);
    font-size: 30px;
    font-family: var(--roboto);
}


/* media queries */
@media screen and (max-width: 1800px){
    .list-table tbody td, 
    .list-table thead th{
        font-size: 23px;
    }

    .table h2{
        margin-top: 0px !important;
    }

    .list-table tbody td a{
        margin-right: 20px;
    }
}

@media screen and (max-width: 1650px){
    .index-content{
        padding: 40px 90px;
    }
}

@media screen and (max-width: 1500px){
    .nav-buttons a{
        font-size: 40px;
    }
}

@media screen and (max-width: 1400px){
    .nav-logo{
        font-size: 65px;
    }

    .index-content{
        padding: 40px 40px;
    }

    .table{
        width: unset;
    }

    .nav-buttons a{
        font-size: 32px;
    }
}

@media screen and (max-width: 1200px){
    .login-div,
    .create-user-div{
        width: 45%;
    }

    .form-title{
        font-size: 55px;
    }

    nav {
        min-width: 300px !important;
        max-width: 300px !important;
    }

    .list-table{
        width: 100%;
        overflow-x: scroll;
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        min-width: 200px; 
    }

    .index-content{
        width: 65% !important;
    }
}

@media screen and (max-width: 1100px){
    nav {
        min-width: 250px !important;
        max-width: 250px !important;
    }

    .index-content{
        width: 70% !important;
    }

    th, td {
        min-width: 180px; 
    }

    .list-table tbody td, .list-table thead th{
        font-size: 20px;
    }

    .index-content{
        width: 65% !important;
    }
}

@media screen and (max-width: 1000px){
    .index-content{
        width: 62% !important;
    }

    .table h2{
        font-size: 30px;
    }

    .table .add-client-button{
        font-size: 22px;
        padding: 10px 0px;
    }

    .user-panel a{
        font-size: 45px;
    }
}


@media screen and (max-width: 900px){
    .index-content{
        width: 68% !important;
        padding-right: 0px !important;
    }

    nav{
        min-width: 200px !important;
        max-width: 200px !important;
    }
}

@media screen and (max-width: 800px){
    .index-content{
        width: 66% !important;
        padding-right: 0px !important;
    }

    .list-table tbody td, .list-table thead th{
        font-size: 18px;
    }

    .confirmation-chart span{
        font-size: 30px;
    }

    .index-content{
        width: 60% !important;
        padding-right: 0px !important;
    }

    .table h2{
        font-size: 26px;
    }
}

@media screen and (max-width: 700px){
    nav{
        max-width: none !important;
        min-width: none !important;
        flex-direction: row;
        width: 100% !important;
        min-height: 100px !important;
    }

    .nav-bar{
        flex-direction: row;
        padding: 0px;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        position: unset;
    }

    .nav-logo{
        margin: 0px !important;
    }

    .nav-buttons{
        flex-direction: row;
    }

    .nav-buttons a{
        padding: 10px 10px;
        margin: 0px 10px;
    }

    .index{
        flex-direction: column;
    }

    .index-content{
        width: 88% !important;
        padding-right: 40px;
    }
    
}

@media screen and (max-width: 650px){
    .go-back a i{
        padding: 30px 55px;
    }

    .form-title{
        font-size: 48px;
    }
    
}

@media screen and (max-width: 500px){
    .login-div,
    .create-user-div{
        width: 65%;
    }

    .user-panel a{
        font-size: 38px;
    }

    .nav-buttons a{
        font-size: 22px;
    }

    .nav-logo{
        font-size: 45px;
    }
    
    .card h2 {
        font-size: 45px;
    }

    .confirmation-chart{
        padding: 40px 20px;
        width: 80%;
    }

    .delete-btn, .cancel-btn{
        font-size: 25px;
        width: 40%;
    }
}

@media screen and (max-width: 450px){
    .login-div,
    .create-user-div{
        padding: 30px 30px;
    }

    .form-title{
        font-size: 42px;
    }

    .index-content{
        width: 80% !important;
        padding-right: 40px;
    }

    .user-panel a{
        font-size: 30px;
        margin: 0px !important;
    }

    .card h2{
        font-size: 38px;
    }

    .card p,
    .card .logout-btn, 
    .card .edit-btn{
        font-size: 26px;
    }


    .go-back a i{
        padding-left: 20px;
    }
    
    .user-panel{
        margin-bottom: 30px;
    }

    
}


@media screen and (max-width: 400px){

    form input, 
    form select,
    form button{
        height: 45px !important;
        font-size: 22px;
    }

    form button{
        margin-top: 35px;
    }

    .card{
        padding: 20px 30px;
        border-radius: 12px;
    }

    .card .logout-btn{
        font-size: 22px;
    }

    .card span i {
        font-size: 120px;
    }

    .card h2{
        font-size: 26px;
    }

    .card p{
        font-size: 19px;
    }

    .list-table tbody td, .list-table thead th {
        font-size: 16px;
    }
}


@media screen and (max-width: 370px){
    .nav-logo{
        font-size: 35px;
    }

    .nav-buttons a{
        font-size: 18px;
    }
}